{% extends "base.html" %}
{% load static %}

{% block title %}Learning Goals|ASCENSION{% endblock title %}
{% block body_class %}white-page{% endblock  %}

{% block contents %}
<div class='container'>
    <div class='my-div-style'>
        <div>
            <h1 class='mb-4'>{{ user.username }}'s Learning Goals</h1>
        </div>
        <div>
            <ul>
                {% for learning_goal in learning_goals %}
                    <div class='d-flex mb-4'>
                        <a href="{% url "task_management:goal_detail" learning_goal.id %}">
                            <li>{{ learning_goal.title }}</li>
                        </a>
                        <a href="{% url "task_management:goal_delete" learning_goal.pk %}" class='btn btn-sm'>:delete</a>
                    </div>
                {% empty %}
                    <p>No learning goals registered</p>
                {% endfor %}
                <div>
                    <a class='btn btn-primary mb-4' href="{% url "task_management:goal_set" user_interest.id %}">ADD</a>
                </div>
            </ul>
        </div>
    </div>
</div>
{% endblock contents %}
