{% extends "base.html" %}
{% load static %}

{% block title %}Lecture|ASCENSION{% endblock title %}
{% block body_class %}white-page{% endblock body_class %}

{% block contents %}
<div class='container'>
    <div class='my-div-style'>
        <div>
            <h1>Lecture by AI</h1>
            <h3>&lt; Topic: {{ session.sub_topic.sub_topic }} &gt;</h3>
            <p><strong>"{{ session.sub_topic.sub_topic }}"</strong> lecture begins.</p>
            <p>If you have any questions, please type them in the chat screen and press the <strong>Send</strong> button. Press the <strong>End</strong> button to end the lecture.</p>
        </div>

        <div id='chat-box' class="chat-box mb-3 border rounded p-3" style="max-height: 500px; overflow-y: auto;">
            <div class="text-start mb-2">
                <span class="badge bg-success mb-1">AI</span>
                <div class="d-inline-block bg-white border p-2 rounded">{{ first_response|safe }}</div>
            </div>
        </div>

        <form id='chat-form' data-url='{% url "lecture:lecture" session.sub_topic.id %}'>
            {% csrf_token %}
            <textarea id='user_input' name="user_input" class="form-control mb-2" rows="3" placeholder="Your response..."></textarea>
            <div class='d-flex gap-2'>
                <button type='submit' class="btn btn-primary mb-5">Send</button>
                <button id='end-lecture' type='button' class='btn btn-secondary mb-5' >End</button>
            </div>
        </form>
    </div>
</div>

<script src='{% static "js/lecture_chat.js" %}'></script>
{% endblock contents %}
